body {
  margin: 0;
  /* background: #000; */
  overflow: hidden;
}
#container {
  width: 100vw;
  height: 100vh;
  outline: none;
  font-family: monospace;
}
#container.drag::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}
#container.drag::after {
  content: "Drop";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 3em;
  pointer-events: none;
}
